@keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
}

.select_category_container {
    width: 1060px;
    padding-top: 40px;
    margin: 0 auto;
}

.select_category_container .select_occupation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select_category_container .select_occupation .selected_occupation {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    margin-right: 15.5px;
}

.select_category_container .select_occupation .select_button {
    width: 26px;
    height: 26px;
    border: 1px solid #e1e2e3;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.select_category_container .select_occupation .select_button:hover {
    border-color: #767676;
    cursor: pointer;
}

.select_category_container .select_occupation .select_button .clicked {
    transform: rotate(180deg);
    animation: rotateAnimation 0.1s linear;
}

.SelectJobList {
    width: 190px;
    height: 70vh;
    position: absolute;
    top: 80px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
    z-index: 999;
    overflow: scroll;
}

.SelectJobList .occupation_select_option {
    width: 100%;
    height: 42.85px;
    padding: 11px 25px;
    font-size: 16px;
    color: #333;
    font-weight: 400;
}

.SelectJobList .occupation_select_option:hover {
    cursor: pointer;
    background-color: #f8f8f8;
}
